.App {
  background-color: #fafafa;
}

.App h1 {
  text-align: center;
}

.navbar {
  background-color: #ffffff;
  list-style: none;
  padding: 1.5em;
  display: inline-flex;
  flex-flow: column wrap;
  justify-content: flex-start;
  align-items: first baseline;
  align-content: center;
  font-weight: bold;
  border: 1px solid rgba(128, 128, 128, 0.048);
  border-radius: 15px;
  overflow: auto;
  box-shadow: 0.3px 1px 2px 1px darkgray;
  margin-left: 91px;
}

.icon {
  margin-right: 0.5rem;
}

li:hover {
  background-color: #f9fbfc;
}
.description {
  margin-left: 2rem;
  font-weight: normal;
  color: #807f89;
}

a {
  color: inherit;
  text-decoration: none;
}

.recent_posts {
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-start;
  align-content: space-around;
  font-weight: normal;
  list-style: none;
  background-color: #f9fbfc;
  gap: 13px;
  margin: 6px -23px -24px -25px;
  padding-bottom: 32px;
  padding-right: 86px;
}

.single_post {
  font-weight: bold;
  flex-grow: 0;
}

.single_post:last-child {
  color: #5955b7;
  font-size: small;
}

ul p {
  color: #787878;
  font-weight: bold;
}
#view_all {
  font-weight: bold;
}
.container {
  display: flex;
  justify-content: center;
}